<div class="bodyImg">
    <div >
        <button class="button1">Register</button>
    </div>
    <div>
        <form>
            <input type="text" placeholder="Enter Your Name">
            <br/>
            <input type="text" placeholder="Enter Your Gender">
            <br/>
            <input type="text" placeholder="Enter Your Religion">
            <br/>
            <input type="text" placeholder="Enter Your Caste">
            <br/>
            <input type="text" placeholder="Enter Your Mother Tongue">
            <br/>
            <input type="text" placeholder="Enter Your Caste">
            <br/>
            <input type="text" placeholder="Enter Your Phonr Number">
            <br/>
            <input type="text" placeholder="Enter Your Email">

        </form>
    </div>
</div>