<div class="col-md-12 row bg-container">
    <div class="col-md-6">
        <img class="img2" src="../../../assets/images/wedding1.jpg">
    </div>
    <div class="col-md-6 second-bg">
        <div>
            <h1>Sign Up</h1>
            <p>Enter details to create your account</p>
            <form>
                <input type="text" placeholder="Username*">
            </form>
            <form>
                <input type="email" placeholder="Email*">
            </form>
            <form>
                <input type="text" placeholder="Mobile Number*" required pattern="[- +()0-9]{10,12}">
            </form>
            <p class="para2">Already Registered? <a class="span1" routerLink="/login">Login</a></p>
            <div>
                <button class="btn btn-primary button1" routerLink="/login">Register</button>
            </div>
        </div>
    </div>
</div>